<!doctype html>
<html lang="en" ng-app="TaskManager">
  <head>
    <meta charset="utf-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/taskManagerController.js"></script>
  </head>

  <body ng-controller="TaskManagerController as taskCtrl">
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="taskCtrl.newTask">
        <button class="btn" ng-click="taskCtrl.addNewTask()">Add New</button>
      </form>
      Filter:
      <label  ng-click="statusFilter = ''">All</label>
      <label  ng-click="statusFilter = 'active'">Active</label>
      <label  ng-click="statusFilter = 'completed'">Completed</label>
      <div>
        You have {{taskCtrl.tasks.length}} tasks
      </div>
      <ul class="list-group" ng-repeat="task in taskCtrl.tasks | filter: {status: statusFilter}">
        <li>
          {{ task.todo }}
          <label class="statusEdit" ng-click="taskCtrl.changeTaskStatus(task)">{{ task.status }} </label>
        </li>
        <li>
          <label class="edit" ng-model="editing"> Edit: <input type="checkbox", ng-model="editing"><br/>
        </li>
        <li ng-show="editing">
          <input type="text" ng-model="taskCtrl.editedTodo">
          <button class="btn" ng-click="taskCtrl.editTask(task)">Edit</button>
        </li>
        <li>
          <label class="destroy" ng-click="taskCtrl.deleteTask(task)">Delete Task</label>
        </li>
      </ul>
    </div>
  </body>
</html>